%h1 Listing artists

%table#artists
  %thead
    %tr
      %th Name
      %th Description
  %tbody
    - @artists.each do |artist|
      %tr
        %td= link_to artist.name, artist_albums_path(artist)
        %td= artist.description

%br/

= link_to 'New Artist', new_artist_path
